{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "number-leading-zero": null,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "reset-global"
      ]
    }],
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["/^tm-/", "/^md-/"]
    }]
  }
}
