@import '../../../../variables.css';

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primaryColorSecond);
  box-shadow: var(--shadowElevationZ1);
}

.l-header {
  background-color: var(--primaryColorFirst);
}

.l-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: auto;
  min-height: 48px;

  @media (max-width: 600px) {
    display: none;
  }
}

.l-searchbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 56px;
}
